{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block import %}
	<!-- Theme JS files -->
	<script src="{% static 'global_assets/js/plugins/extensions/jquery_ui/interactions.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/extensions/jquery_ui/touch.min.js' %}"></script>

	<script src="{% static 'global_assets/js/demo_pages/jqueryui_interactions.js' %}"></script>

{% endblock %}

{% block content %}

						<div class="card" style="margin:0px 0px 0px 0px; padding: 0px 0px">
							<div class="card-body">

				<!-- Cover area -->
				<div class="profile-cover">
					<div class="profile-cover-img" style="background-image: url({{ theme.cover_image.url }})"></div>
					<div class="media align-items-center text-center text-md-left flex-column flex-md-row m-0">
						<div class="mr-md-3 mb-2 mb-md-0">
							<a href="#" class="profile-thumb">
								<img src="{{ theme.profile_image.url }}" class="border-white rounded-circle" width="48" height="48" alt="">
							</a>
						</div>

						<div class="media-body text-white">
				    		<h1 class="mb-0">{{ user }}</h1>
						</div>

					</div>
				</div>
				<!-- /cover area -->
					{% if user.role == 3 %}
					{% include 'volley_manager_profile.html' %}
					{% endif %}

								</div>									
								</div>	


						<!-- /post -->
{% endblock %}