{% load static %}
{% with url_name=request.resolver_match.url_name %}

<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md" style="background-color: {{ theme.sidebar }};">

  <!-- Sidebar mobile toggler -->
  <div class="sidebar-mobile-toggler text-center">
    <a href="#" class="sidebar-mobile-main-toggle">
      <i class="icon-arrow-left8"></i>
    </a>
    Navigazione
    <a href="#" class="sidebar-mobile-expand">
      <i class="icon-screen-full"></i>
      <i class="icon-screen-normal"></i>
    </a>
  </div>
  <!-- /sidebar mobile toggler -->


  <!-- Sidebar content -->
  <div class="sidebar-content">


    <!-- Main navigation -->
    <div class="card card-sidebar-mobile">
      <ul class="nav nav-sidebar" data-nav-type="accordion">

        <!-- Main -->
        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Menù</div> <i class="icon-menu" title="Main"></i></li>
        <li class="nav-item">
          <a href="/profilo" class="nav-link  {% if url_name == 'profile' %}active{% endif %}">
            <i class="icon-user"></i>
            <span>
              Profilo
            </span>
          </a>
        </li>

        <li class="nav-item nav-item-submenu">
							<a href="" class="nav-link"><i class="icon-home4"></i> <span>Dashboard</span></a>

							<ul class="nav nav-group-sub" data-submenu-title="Layouts">
								<li class="nav-item"><a href="{% url 'overview' %}" class="{% if url_name == 'overview' %}active{% endif %} nav-link">Overview</a></li>
								<li class="nav-item"><a href="{% url 'volley' %}" class="{% if url_name == 'volley' %}active{% endif %} nav-link">Volley</a></li>
							</ul>
				</li>

        <li class="nav-item">
          <a href="/my-reservations" class="nav-link  {% if url_name == 'eventi' or url_name == 'partita' %}active{% endif %}">
            <i class="icon-calendar"></i>
            <span>
              Prenotazioni
            </span>
          </a>
        </li>


        <!-- /forms -->
      </ul>
    </div>
    <!-- /main navigation -->

  </div>
  <!-- /sidebar content -->

</div>
<!-- /main sidebar -->

<style>
.sidebar-dark .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), .sidebar-dark .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), .sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item>.nav-link.active {
    background-color: {{theme.hover}};
    color: #fff;
}
</style>
{% endwith %}
