{% extends 'base.html' %}
{% load static %}

{% block import %}
<script src="{% static 'global_assets/js/plugins/notifications/noty.min.js' %}"></script>

	<script src="{% static 'global_assets/js/plugins/extensions/jquery_ui/interactions.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/extensions/jquery_ui/touch.min.js' %}"></script>

	<script src="{% static 'global_assets/js/demo_pages/jqueryui_interactions.js' %}"></script>
{% endblock %}

{% block content %}


<div class="card-header header-elements-inline" style="background-color: {{ theme.card_header }}; height: 80px;" >
								<h2 class="card-title w-100" style="text-align: center;">{{ match.category }} - Girone {{ match.tournament}} / Giornata {{ match.tournament_day }}</h2>
							</div>  
						<!-- Post -->
						<div class="card" style="margin:0px 0px 0px 0px; padding: 20px 0px">
							<div class="card-body">
								<div class="mb-4">
							

									<h1 class="font-weight-semibold mb-1" style="text-align: center;">
										<a href="#" class="text-default">{{ match.home_team }} - {{ match.outside_team}}</a>
                                        
									</h1>

                                    <h4  style="text-align: center;">{{ match.date }}</h4>
									<h5  style="text-align: center;">{{ match.gym.address }}</h5>
									<h5  style="text-align: center;">Posti liberi rimanenti: {{ free_seats }}</h5>

								</div>
                                <div class="card-body flex w-100" id="draggable-default-container"  style="">
                                    <div id="field" style="background: #000000; margin: auto auto;" class="text-center mx-auto mx-sm-0"></div>
							    </div>
                            	<div class="row" >
								<div class="col text-center" style="margin: 20px 20px;">
								<a id="reserve" type="button" class="btn bg-green-400 btn-float"><i class="fas fa-volleyball-ball mr-3 fa-2x spinner" style="margin-left: 20px;"></i> <span>Invia</span></a>
								</div>	
								<div id="map" style="margin: 20px 0px;"></div>
								
								</div>	

							</div>
                            
						</div>
						<!-- /post -->

<script>




$('document').ready(function(){

    // var opts = $('#id_seats')[0]
    // for (var i=1; i < opts.length; i++) {
    //     $('#draggable-default-container').append('<div id="seat_' + opts[i].text +'" class=\"jqueryui-demo-element seat draggable-element text-center mx-auto mx-sm-0 rounded-round ui-draggable ui-draggable-handle\"><span>' + opts[i].text + '</span></div>');
    // }

    $.ajax({
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        type: "GET",
        url: "/get-seats",
        data: {},
        success: function(data){
            console.log(data)
            
        },
        failure: function(data){
            console.log("FAIL");
        },
    });


    $.ajax({
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        type: "GET",
        url: "/get-gym-config",
        data: {},
        success: function(data){
            console.log(data['width_space'])
            document.getElementById('draggable-default-container').setAttribute("style","width:"+data['width_space']+"px; height: "+data['height_space']+"px; position: relative; padding: 0px 0px;  overflow-x: scroll; background: #ffffff; margin : 0px 0px 0px 0px;");
            document.getElementById('field').setAttribute("style","width:"+data['width_field']+"px; height: "+data['height_field']+"px; background: black; left: "+data['left_field']+"px; top: "+data['top_field']+"px; position: absolute;");
            console.log(data['width_field']);
            console.log(data['height_field']);
            
            var seats = data['seats'];
            for (const [key, value] of Object.entries(seats)) {
                console.log(key, value);
                // document.getElementById('seat_'+key).setAttribute("style","width:"+data['seat_radius']+"px; height: "+data['seat_radius']+"px; left: "+value[0]+"px; top: "+value[1]+"px; position: absolute;");
            }

        },
        failure: function(data){
            console.log("FAIL");
        },
    });

    JqueryUiInteractions.init();
})

$('#reserve').on('click', function(){
    Noty.overrideDefaults({
            theme: 'limitless',
            layout: 'topRight',
            type: 'alert',
            timeout: 2500
        });
$.ajax({
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            type: "POST",
            url: "/partita/effettua-prenotazione",
            data: {'id': {{match.pk}},},
            success: function(data){
                console.log('success');
                new Noty({
                text: 'Prenotazione effettuata',
                type: 'success'
            }).show();
            },
            error: function(data){
                console.log("FAIL");
                new Noty({
                text: 'Errore',
                type: 'error'
            }).show();
            },
        }); 
})


 </script>

<style>


.jqueryui-demo-element {
        background-color: grey;
        border: black;
        color: black;
        position: absolute;
        z-index: 10;

        > span {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
        }
    }

.seat {
    background-color: #fafafa;
    border: 2px dashed #ddd;
    color: #777;
    position: relative;
    z-index: 10;
    width: 50px;
    height: 50px;
    
}
</style>


{% endblock %}