{% extends 'base.html' %}
{% load static %}

{% block import %}
<script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
{% endblock %}

{% block content %}

<div class="card-header header-elements-inline" style="background-color: {{ theme.card_header }}; height: 80px;" >
								<h2 class="card-title w-100" style="text-align: center;">{{ match.category }} - Girone {{ match.tournament}} / Giornata {{ match.tournament_day }}</h2>
							</div>  
						<!-- Post -->
						<div class="card" style="margin:0px 0px 0px 0px; padding: 20px 0px">
							<div class="card-body">
								<div class="mb-4">
									<div class="mb-3 text-center">
										<a href="#" class="d-inline-block">
                                            <div class="row">
                                                <div class="col-5">
                                            <img src="{{ match.home_team.logo.url }}" style="height: 120px;" class="img-fluid" alt="">
                                            </div>
                                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
                                            <h1 style="color: #000000;">//</h1>
                                            </div>
                                            <div class="col-5">
                                            <img src="{{ match.outside_team.logo.url }}" style="height: 120px;" class="img-fluid" alt="">
                                            </div>
                                            </div>
                                        </a>
									</div>

									<h1 class="font-weight-semibold mb-1" style="text-align: center;">
										<a href="#" class="text-default">{{ match.home_team }} - {{ match.outside_team}}</a>
                                        
									</h1>

                                    <h4  style="text-align: center;">{{ match.date }}</h4>
									<h5  style="text-align: center;">{{ match.gym.address }}</h5>
									<h5  style="text-align: center;">Posti liberi rimanenti: {{ free_seats }}</h5>

								</div>
								<div class="row" >
								<div class="col text-center" style="margin: 20px 20px;">
								<a href="{% url 'volley_match' id=match.pk %}" type="button" class="btn bg-green-400 btn-float"><i class="fas fa-volleyball-ball mr-3 fa-2x spinner" style="margin-left: 20px;"></i> <span>Prenota</span></a>
								</div>	
								<div id="map" style="margin: 20px 0px;"></div>
								
								</div>	

							</div>
						</div>
						<!-- /post -->

<script>


$(function() {
	console.log()
	let mapOptions = {
    center:["{{ match.gym.longitude|floatformat:3 }}".replace(",", "."), "{{ match.gym.latitude|floatformat:3 }}".replace(",", ".")],
    zoom: 13,
	}
	

	let map = new L.map('map' , mapOptions);

	let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
	map.addLayer(layer);

	let marker = new L.Marker(["{{ match.gym.longitude|floatformat:3 }}".replace(",", "."), "{{ match.gym.latitude|floatformat:3 }}".replace(",", ".")]);
	marker.addTo(map);

	map.invalidateSize()
})
 </script>

<style>
.h1, h1 {
    font-size: 2.5625rem;
}

#map{
    width: 100%;
    height: 500px;
}
</style>

{% endblock %}